body{
    height: 100%;
    margin: 0;
}

.title {
    background-color: grey;
    margin: 0;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
}

.sub-title {
    margin-left: 1%;
}

.content {
    margin-left: 2%;
}

.btn-div {
    text-align: right;
    margin-right: 2%;
}

.btn-back {
    background-color: rgb(14, 95, 67);
    color: white;
    width: 30%;
}

.btn-back:hover {
    background-color: rgb(0, 17, 11);
}

.btn-text {
    color: white;
    text-decoration: none;
}