{% load static %}

<!DOCTYPE html>
    <html lang="ja">
    
        <head>
            <meta charset="utf-8">
            <meta name="viewport", content="width=device-width">
            <title>todoDelete</title>
            <link href="{% static 'todoStyleSheet/todoDeleteStyle.css' %}" rel="stylesheet">
        </head>

        <body>
            <div class="message">本当にタスク<div class="task-name">【{{ object.title }}】</div>を削除しますか？</div>
            <div class="todo-flexbox">
                <form action="", method="POST" class="formDelete">{% csrf_token %}
                    <button type="submit" class="btn-submit">削除を実行</button>
                </form>
                <button type="button" class="btn" onclick="window.location.href='{% url 'todoApp:todoListPage' %}'">リストに戻る</button>
            </div>
        </body>

    </html>